<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/young-man-driving-modern-car_651396-2412.jpg?w=1380&t=st=1669979391~exp=1669979991~hmac=8d05620f3b44ff81be0f0f211e73bdc7fa07727389678183b1ac9fe6a2429ae7;">>
      <h1>Book the car of your dreams!</h1>
    <div class="container justify-content-center"><%= render "form", booking: @booking %>
    </div>
  </div>
    <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i> at LitzTrack
        </div>
    </div>
<body>
