<div class="container-fluid">
  <div>
      <%= link_to " Create", new_car_path %>
  </div>


  <h1>List all cars</h1>
    <% @cars.each do |car| %>
      <div class="p-3 mb-2"><h6><%= link_to car.model, car_path(car) %> - <%= link_to car.year, car_path(car) %></h6></div>
    <% end %>
  </div>
</div>
